<div class="container">
    <div class="row">
        <div class="col-xs-10 col-ms-10 col-md-10 col-lg-10">
            <ul><b>Event Name: </b>{{ eventDataService.eventData['name'] }}</ul>
            <ul><b>Type: </b>{{ eventDataService.eventData['type'] }}</ul>
            <ul><b>Venue: </b>{{ eventDataService.eventData['venue'] }}</ul>
            <ul><b>Host: </b>{{ eventDataService.eventData['hostName'] }}</ul>

            <ul><b>Start Date: </b>{{ eventDataService.eventData['startDt'].substring(0, 10) + 
                ' [' +  eventDataService.eventData['startDt'].substring(11, 16) + ']'}}</ul>

            <ul><b>End Date: </b>{{ eventDataService.eventData['endDt'].substring(0, 10) + 
                ' [' +  eventDataService.eventData['endDt'].substring(11, 16) + ']' }}</ul>
                
            <ul><b>Description: </b>{{ eventDataService.eventData['description'] }}</ul>
        </div>
        <div class="col-xs-2 col-ms-2 col-md-2 col-lg-2" style="border: 1px solid black;">
            <p-table [columns]="colsParticipants" [value]="participantList">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{ rowData[col.field] }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
            <p-table [columns]="colsComments" [value]="commentList">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td *ngFor="let col of columns">
                            {{ rowData[col.field] }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
            <form class="width: 100%;">             
                <mat-form-field class="width: 100%;">
                    <mat-label>Leave a comment</mat-label>
                    <textarea matInput placeholder="Type something..." 
                    [(ngModel)]="content" [ngModelOptions]="{standalone: true}"></textarea>
                </mat-form-field>
                <button (click)="sendComment()">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
            <button (click)="joinEvent()">Join Event</button>
            <button (click)="back()">Back</button>
        </div>
    </div>
</div>
