<h2 mat-dialog-title>{{ 'Create Event' }}</h2>

<mat-dialog-content [formGroup]="createForm">
  
    <mat-form-field [style.width.px]="300">
        <input matInput placeholder="Event Name" formControlName="name">    
    </mat-form-field><br>

    <mat-form-field [style.width.px]="300">
        <mat-select placeholder ="Event Type"formControlName="type"> 
                <mat-option *ngFor="let Event of eventType" [value]="Event.value">
                  {{Event.value}}
                </mat-option>   
        </mat-select>
    </mat-form-field><br>
    
    <mat-form-field [style.width.px]="300">
        <input matInput placeholder="Venue" formControlName="venue">  
    </mat-form-field><br>

    <mat-form-field [style.width.px]="300">
        <mat-label>Start Date</mat-label>
        <input type="datetime-local" matInput formControlName="startDt"> 
    </mat-form-field><br>

    <mat-form-field [style.width.px]="300">
        <mat-label>End Date</mat-label>
        <input type="datetime-local" matInput
        formControlName="endDt">
    </mat-form-field><br>

    <mat-form-field [style.width.px]="300">
        <input matInput placeholder="Participant Limit" formControlName="limit">    
    </mat-form-field><br>

    <mat-form-field [style.width.px]="300">
        <input matInput placeholder="Description" formControlName="description">    
    </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button mat-primary"(click)="onCreate()">Save</button>
    <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>
