<div class="container">
    <div class="row">
        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
        <amplify-authenticator>
            <div style="width: 10%; float:right;">
            <amplify-sign-out></amplify-sign-out>
            </div>
        </amplify-authenticator>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
            <p-table [columns]="cols" [value]="eventList" [selectionMode]="'single'">
                <ng-template pTemplate="caption">
                <div style="text-align: center;">
                    <h2>Explore Events</h2><br>
                </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData"(click)="navigateToViewEvent(rowData)">
                        <td *ngFor="let col of columns">
                            {{col.field === 'participantCount' ? 
                            (eventParticipantCount.get(rowData['id']) ? 
                            eventParticipantCount.get(rowData['id']) : '0') + (rowData['limit'] ? 
                            '/' + rowData['limit']  : '') : 
                            rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-ms-12 col-md-12 col-lg-12">
            <button mat-stroked-button (click)="openDialog()">Create Event</button>
        </div>
    </div>
</div>
